*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url('purplebg.jpg'); */
    background-color:black;
    
    
}
.score{
    color:white;
    text-align: center;
    font-family: 'Denk One', sans-serif;
    font-size: 30px;
    height: 45px;
    background-color: black;
    padding-top: 15px;
    
}

.line{
    background-color: rgb(196, 75, 226);
    height: 3px;
}
.grid{
    width: 400px;
    height: 600px;
    
    background-image: url('purplesky.jpg');
    background-size: cover;
    position: absolute;
    margin-left:35vw ;
    /* z-index: 1; */
}
.player{
    width: 80px;
    height: 80px;
    background-image:url('cartoon.png');
    background-size: cover;
    /* background-color: black; */
    position: absolute;
    /* z-index: 2; */
    
}
.platform{
    width: 100px;
    height: 15px;
    background:linear-gradient(rgb(141, 48, 196),rgb(29, 1, 46));
    border-radius: 8px;

    position: absolute;
    /* z-index: -1; */
}
.congrats{
    font-size: 60px;
    color: rgb(255, 252, 60);
    display: inline;
    z-index:1;
    position: absolute;
    top:50px;
}
.rightarrow{
    width: 90px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    opacity: 0.5;
}
.leftarrow{
    width: 90px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    opacity: 0.5;
    transform: scale(-1,1);
}
.leftarrow:hover{
    opacity:0.8;
}
.leftarrow:hover::after{
    opacity: 0.5;
}
.rightarrow:hover{
    opacity:0.8;
}
button{
    cursor:pointer;
}
@media (max-width:415px){
    .grid{
        width: 100vw;
        height: 80vh;
        /* background-color:rgb(67, 172, 137); */
        background-size: cover;
        position: relative;
        margin-left: 0px;
    }


}